body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

.title h1 {
    text-align: center;
}

header {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;

}

.page-wrapper {
    width: 1180px;
    margin: 0 auto;
    background-color: slategray;
    min-height: 100vh;
}

.title {
    margin-bottom: 20px;
}

.top-menu {
    display: flex;
}

.top-menu li {
    margin-right: 10px;
}

.top-menu:last-child {
    margin: 0;
}

.top-menu a {
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    line-height: 2;
    padding: 0 15px;
    display: block;
}

@media screen and (max-width: 1440px) {
    .title {
        width: 100%;
    }
    header {
        flex-wrap: wrap;
        justify-content: center;  
    }
}

@media screen and (max-width: 767px) {
    .title h1 {
        text-align: left;
    }
    header {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .top-menu {
        flex-wrap: wrap;
    }

    .top-menu li {
        width: 100%;
        margin-bottom: 10px;
    }
    .top-menu a {
        text-align: center;
    }
}

