body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

.title h1 {
    text-align: center;
}

header {
    padding: 10px 5px;
}

.page-wrapper {
    width: 1180px;
    margin: 0 auto;
    background-color: slategray;
}

.title {
    margin-bottom: 20px;
}

.top-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.top-menu a {
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    line-height: 40px;
    padding: 0 15px;
    display: block;
}

@media screen and (max-width: 767px) {
    .title {
        padding-right: 50%;
    }

    .top-menu {
        flex-wrap: wrap;
    }

    .top-menu li {
        margin-bottom: 10px;
    }

    .top-menu a {
        line-height: 70px;
    }
}

@media screen and (max-width: 1440px) {
    .top-menu {
        justify-content: center;
    }

    .top-menu li {
        padding: 0 5px;
        width: 100%;
    }
}
